@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  

    --fuente:"Montserrat", sans-serif;
   
    --colorblanco: #FFFFFF;
    --colorverde: #62ef3b;
    --colorgris: #4C4B5E;
    --colorgrislinea: #8c8b9b;
    --colornegro: #0B1215;

}

* {
    padding: 0px;
    margin: 0px;
}
.box-space {
  margin: 80px 0px 0px 0px;
}
.org-div1 {
  display:flex;
  justify-content: space-evenly;
}

.org-div1 div h2 {
  font-size: 75px;
  font-weight: 900;
  text-shadow: 2px 2px 5px var(--colorgrislinea);
  display: flex;
  align-items: center;
  margin: 85px 0px 45px 0px;
}

.btn-ver {
  font-size: 18px;
  font-weight: 600;
  color: var(--colornegro);
  border: 1px solid var(--colornegro);
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin: 15px 0px 0px 0px;

}

.imgbike1{
  width: 600px;
}

.background-img {
    background-image: url('./src/img/fondo1.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    width: 1280px;
    height: 600px;
    flex-direction: row;
  }

  .org-container {
    display:flex;
    justify-content: space-around;
  }

.brand {
  margin: 100px 0px 0px 0px;

}

.title2 {
  font-size: 45px;
  margin: 100px 0px 100px 0px;
}

.btn-catalogo {
  font-weight: 600;
  color: var(--colornegro);
  border: 1px solid var(--colornegro);
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  
  margin: 0px 0px 0px 0px;
}

.btn-catalogo:hover {
  background-color: var(--colornegro);
  color: var(--colorverde);
}
.btn-ver:hover {
  background-color: var(--colornegro);
  color: var(--colorverde);
}